
html{
    width: 100%;
    overflow-x: auto;
}
/* STICKY NAV BAR SECTION */
body{
    margin: 0;
    padding: 0;
    min-height: 2000px;
    overflow-x: auto;
    /*max-width: inherit;*/
    /* width: 100px; */
    font-family: arial;
    padding-top: 100px;
    /* background-color: rgb(6, 6, 136); */
    /* border: solid 9px green; */
}

.container{
    margin: auto;
    width: 100%;
    background-color: rgba(255, 145, 0, 0.164);
    /*min-height: 1990px;*/
    /* border: solid 7px orange; */
}

/*------------------------------------------------------------------------------------------------------*/
/* NAVIGATION BAR */
.sub_container{
    position: static;
    border: solid 1px rgb(4, 4, 77);
    background-color: rgb(4, 4, 77);
    height: 70px;
    /* margin: 0; */
}

.sub_container header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background: rgb(4, 183, 4); */
    background: rgb(4, 4, 77);
    transition: 1s;
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 1;
    /* border: solid 3px blue; */
}

.sub_container header.scrolled{
    height: 80px;
}

.sub_container header img.banner{
    /* object-fit: center; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.sub_container header.scrolled img.banner{
    opacity: 0;
}

nav{
    position: absolute;
    text-align: center;
    color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    height: 10%;
}

nav ul{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /* padding: 40px 0; */
    /* left: 50%; */
    /* right: 50%; */
    /* display: flex; */
    /* display: block; */
    transition: 1s;
    opacity: 0;
    visibility: hidden;   
}

.sub_container header.scrolled nav{
    height: 100%;
}

.sub_container header.scrolled nav ul{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

nav ul li{
    /* border: solid 1px yellow; */
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    width: 15%;
    height: 100%;
}

nav ul li a{
    color: white;
    /* padding: 10px 15px; */
    text-decoration: none;
}

nav ul li a .icon{
    width: 30px;
    height: 30px;
    text-align: center;
    /* background: #ccc; */
    overflow: hidden;
    margin: 0 auto 10px;
}

ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: inherit;
    font-size: 24px;
    transition: 0.5s;
    color: rgb(255, 145, 0);
}

ul li a .icon .fa:last-child{
    color: #fff;
}

ul li a:hover .icon .fa{
    transform: translateY(-100%);
    color: rgb(255, 145, 0);
}

ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

ul li a .name span{
    display: block;
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
    font-weight: bold;
    /* overflow: hidden; */
}

ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 145, 0);
}

ul li a:hover .name span{
    transform: translateY(20px);
}

section{
    padding: 100px;
    box-sizing: border-box;
}

section h2{
    margin: 0;
    padding: 0;
    font-size: 48px;
}

section p{
    font-size: 18px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* ABOUT SECTION */
.sub_container2{
    /* border: solid 5px rgb(4, 4, 77); */
}
.about_text{
    font-family: sans-serif;
    background-color: rgb(4, 4, 77);
    color: #fff;
    margin: auto;
    padding: 10px;
}

.about_text:hover li a{
    text-decoration: underline;
    color: rgb(255, 145, 0);
}
    
.about_text h2{
    text-align: center;
    color: rgb(255, 145, 0);
}

.about_text li{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.about_text li a{
    text-decoration: none;
    color: rgb(135, 231, 240);
    font-style: italic;
}

/*------------------------------------------------------------------------------------------------------*/
/* CRAZY BACKGROUNDS */
.sub_container3,
.sub_container5,
.sub_container7,
.sub_container9
{
    /* border: solid 6px blue; */
    height: 600px;
    width: 100%;
    margin: auto;
    background-color: rgb(4, 4, 77);
}

section.sec1{
    height: 100%;
    /* position: absolute; */
    background: url(../img/img\ \(5\).jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.5;
}

section.sec2{
    height: 100%;
    /* position: absolute; */
    background: url(../img/macbook2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.7;
}

section.sec3{
    height: 100%;
    /* position: absolute; */
    background: url(../img/Pic5.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.7;
}

section.sec4{
    height: 100%;
    /* position: absolute; */
    background: url(../img/Pic1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.5;
}

/*-----------------------------------------------------------------------------------------------------*/
/* CUSTOM SCROLL BAR */
::-webkit-scrollbar{
    width: 0;
}

#scroll_path{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.05); */
}

#progress_bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    /* height: 100%; */
    background: linear-gradient(to top, rgb(4, 4, 77), rgb(135, 231, 240), rgb(6, 6, 136), rgb(255, 145, 0));
    animation: animate_scroll_bar 5s linear infinite;
    /* z-index: 15; */
}

#progress_bar:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(4, 4, 77), rgb(135, 231, 240), rgb(6, 6, 136), rgb(255, 145, 0));
    filter: blur(10px);
}

#progress_bar:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(4, 4, 77), rgb(135, 231, 240), rgb(6, 6, 136), rgb(255, 145, 0));
    filter: blur(30px);
}

/*-----------------------------------------------------------------------------------------------------*/
/* LANGUAGES SECTION */
.sub_container4{
    text-align: center;
    padding: 10px;
}

.sub_container4 h2.languages_heading{
    color: rgb(4, 4, 77);
    font-size: 30px;
}

.sub_sub4{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.box{
    height: 150px;
    width: 150px;
    margin: 15px auto;
    background: rgb(4, 4, 77);
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(4, 4, 77, 0.986);
    /* border: solid 2px blueviolet; */
    z-index: 0;
    vertical-align: middle;
}

.img_box{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 0;
    background-color: #fff;
}

.img_box img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 0;
}

.box:hover{
    box-shadow: 1px 1px 1px rgba(255, 145, 0, 0.691);
}

.box:hover .img_box{
    transform: translateY(-10px);
}

.box:hover .img_box img, .box:hover .img_box{
    opacity: 0.7;
}


.box:hover .details{
    transform: translateY(-65px);
}

.details{
    bottom: 0;
    left: 0;
    background: rgb(4, 4, 77);
    color: rgb(255, 145, 0);
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    padding: 10px;
    /* z-index: 0; */
    transition: 0.5s;
}

.details h2{
    margin: 10px 0 0;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------------*/
/* SKILLS SECTION */
.sub_container6{
    padding: 10px;
}

.sub_container6 h2{
    color: rgb(4, 4, 77);
    font-size: 30px;
    text-align: center;
}
.sub_sub6{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.sub_sub6 .skill{
    /* border: solid 5px black; */
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(4, 4, 77);
    color: #fff;
    box-shadow: 1px 1px 5px rgba(4, 4, 77, 0.986);
    border-radius: 6px;
    font-weight: bold;
}

.sub_sub6 .skill:hover{
    opacity: 1;
    transform: scale(0.9);
    transition: 0.5s;
    color: rgb(255, 145, 0);
    box-shadow: 0 0 1px 1px rgba(255, 145, 0, 0.691);
}

.sub_sub6 .skills:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* background: rgba(255, 255, 255, .1); */
    z-index: 10;
}

/* ------------------------------------------------------------------------- */
/* PROJECTS SECTION */
.sub_container8{
    padding: 10px;
}

.sub_container8 h2{
    color: rgb(4, 4, 77);
    font-size: 30px;
    text-align: center;
}
.sub_sub8{
    margin: 20px;
}
.project{
    box-shadow: 1px 1px 5px rgba(4, 4, 77, 0.986);
    border-radius: 6px;
    margin: 10px auto;
    padding: 10px;
}

.project a{
    text-decoration: none;
    color: rgb(4, 4, 77);
    font-weight: bold;
}


.project a:hover{
    color: rgba(4, 4, 77, 0.986);
    font-style: italic;
    transition: 0.5s;
}

.project a:hover u h3{
    transition: 0.5s;
    color: rgb(255, 145, 0);
}

/* CONTACT SECTION */
.sub_container10{
    padding: 10px;
}
.sub_container10 h2{
    text-align: center;
    font-size: 30px;
    color: rgb(4, 4, 77);
}

.contact_details{
    border-radius: 0 6px 6px 0;
}

.contact_details ul{
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.contact_details li{
    margin: 10px;
    font-weight: bold;
    list-style: none;
}

.contact_details li .fa{
    font-size: 25px;
    color: rgb(255, 145, 0);
}

.contact_details li span{
    color: rgb(4, 4, 77);
    font-weight: bolder;
}

.contact_details li span:hover{
    cursor: cell;
}

.contact_details li span a{
    text-decoration: none;
    color: rgb(4, 4, 77);
}

.contact_details li span a:hover{
    color: rgb(255, 145, 0);
    transition: 0.5s;
}

/* FOOTER SECTION */
footer{
    color: #fff;
    background: rgb(4, 4, 77);
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
}


/* ------------------------------------------------------------------------------- */
/* KEY FRAMES */
@keyframes animate_scroll_bar{
    0%, 100%{
        /* filter: hue-rotate(90deg); */
        filter: contrast(1);
    }

    50%{
        /* filter: hue-rotate(180deg); */
        filter: contrast(1);
    }
}

@keyframes animate_skills{
    from{
        width: 0;
    }
}